openapi: 3.0.0
info:
  description: |-
    Bosch IoT Things enables applications to manage digital twins of IoT device assets in a simple, convenient, robust, and secure way.

    These descriptions focus on the JSON-based, REST-like **HTTP API 2** of the Bosch IoT Things service.

    Find details in our [documentation](https://docs.bosch-iot-suite.com/things/).

    The Bosch IoT Things HTTP API uses response status codes
        (see [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6))
        to indicate whether a specific request has been successfully completed, or not. However, the descriptions we provide additionally to the status code (e.g. in our API docs, or error codes like. "solutions:transaction.count.exceeded") might change without advance notice. These are not be considered as official API, and must therefore not be applied in your applications or tests.
  title: Bosch IoT Things HTTP API
  version: "2"
servers:
- description: URL of the AWS environment
  url: https://things.eu-1.bosch-iot-suite.com/api/2
- description: URL of the BIC environment
  url: https://things.s-apps.de1.bosch-iot-cloud.com/api/2
- description: URL of the Azure environment
  url: https://things.eu-5.bosch-iot-suite.com/api/2
security:
- thingsApiToken: []
  bearerAuth: []
- thingsApiToken: []
  basicAuth: []
- thingsApiToken: []
  BoschID: []
- thingsApiToken: []
  SuiteAuth: []
tags:
- description: Manage every thing
  name: Things
- description: Structure the features of your things
  name: Features
- description: Control access to your things
  name: Policies
- description: Find every thing
  name: Things-Search
- description: Talk with your things
  name: Messages
- description: Get started with your service subscription
  name: Solutions
paths:
  /things:
    get:
      description: |-
        Returns all things passed in by the required parameter `ids`, which you (the authorized subject) are allowed to read.

        Optionally, if you want to retrieve only some of the thing's fields, you can use the specific field selectors (see parameter `fields`) .

        Tip: If you don't know the thing IDs, start with the search resource.
      parameters:
      - description: Contains a comma-separated list of `thingId`s to retrieve in
          one single request.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          type: string
        style: form
      - description: |-
          Contains a comma-separated list of fields to be included in the returned
          JSON. attributes can be selected in the same manner.

          #### Selectable fields

          * `thingId`
          * `policyId`
          * `definition`
          * `attributes`

             Supports selecting arbitrary sub-fields by using a comma-separated list:
              * several attribute paths can be passed as a comma-separated list of JSON pointers (RFC-6901)

                For example:
                  * `?fields=attributes/model` would select only `model` attribute value (if present)
                  * `?fields=attributes/model,attributes/location` would select only `model` and
                     `location` attribute values (if present)

            Supports selecting arbitrary sub-fields of objects by wrapping sub-fields inside parentheses `( )`:
              * a comma-separated list of sub-fields (a sub-field is a JSON pointer (RFC-6901)
                separated with `/`) to select

              * sub-selectors can be used to request only specific sub-fields by placing expressions
                in parentheses `( )` after a selected subfield

                For example:
                 * `?fields=attributes(model,location)` would select only `model`
                    and `location` attribute values (if present)
                 * `?fields=attributes(coffeemaker/serialno)` would select the `serialno` value
                    inside the `coffeemaker` object
                 * `?fields=attributes/address/postal(city,street)` would select the `city` and
                    `street` values inside the `postal` object inside the `address` object

          * `features`

            Supports selecting arbitrary fields in features similar to `attributes` (see also features documentation for more details)

          * `_namespace`

            Specifically selects the namespace also contained in the `thingId`

          * `_revision`

            Specifically selects the revision of the thing. The revision is a counter, which is incremented on each modification of a thing.

          * `_modified`

            Specifically selects the modified timestamp of the thing in ISO-8601 UTC format. The timestamp is set on each modification of a thing.

          * `_policy`

            Specifically selects the content of the policy associated to the thing. (By default, only the policyId is returned.)

          #### Examples

          * `?fields=thingId,attributes,features`
          * `?fields=attributes(model,manufacturer),features`
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Thing'
                type: array
          description: |-
            The successfully completed request contains as its result the first 200 things, for which the user has at
            least read permission.
            The things are sorted in the same order as the thing IDs were provided in the `ids` parameter.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. At least one of the defined
            query parameters is invalid.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded transaction
            count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed due to a missing or invalid API
            Token.
        "414":
          description: |-
            The request could not be completed due to an URI length exceeding 8k
            characters.
      summary: Retrieve multiple things with specified IDs
      tags:
      - Things
    post:
      description: |-
        Creates a thing with a default `thingId` and a default `policyId`.

        The thing will be empty, i.e. no features, definition, attributes etc. by default.

        The default `thingId` consists of your default namespace and a UUID. Make sure a default
        namespace is registered for your solution.

        The default `policyId` is identical with the default `thingId`, and allows the currently authorized subject all permissions.

        In case you need to create a thing with a specific ID, use a *PUT* request instead, as any `thingId` specified in the request body will be ignored.
      parameters:
      - description: |-
          Contains the "requested acknowledgements" for this modifying request as comma separated list. The HTTP call will
          block until all requested acknowledgements were aggregated or will time out based on the specified `timeout`
          parameter.

          The default (if omitted) requested acks is `requested-acks=twin-persisted` which will block the
          HTTP call until the change was persited to the twin.
        explode: true
        in: query
        name: requested-acks
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines whether a response is required to the API call or not - if set to `false` the response will directly
          sent back with a status code of `202` (Accepted).

          The default (if ommited) response is `true`.
        explode: true
        in: query
        name: response-required
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            example:
              definition: com.acme:coffeebrewer:0.1.0
              attributes:
                manufacturer: ACME demo corp.
                location: Berlin, main floor
                serialno: "42"
                model: Speaking coffee machine
              features:
                coffee-brewer:
                  definition:
                  - com.acme:coffeebrewer:0.1.0
                  properties:
                    brewed-coffees: 0
                water-tank:
                  properties:
                    configuration:
                      smartMode: true
                      brewingTemp: 87
                      tempToHold: 44
                      timeoutSeconds: 6000
                    status:
                      waterAmount: 731
                      temperature: 44
            schema:
              $ref: '#/components/schemas/NewThing'
        description: JSON representation of the thing to be created. Use { } to create
          an empty thing with a default policy.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thing'
          description: The thing was successfully created.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
            Location:
              description: The location of the created thing resource
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:

              * no default *namespace* is registered for your solution
              * the `thingId` must not be set in the request body
              * the JSON body of the thing to be created is invalid
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded data volume
            or exceeded transaction count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed.
            Possible reasons:
              * the API Token is missing or invalid
              * the caller would not have access to the thing after creating it with the given policy.
              * the caller has insufficient permissions.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:
              * the referenced thing does not exist.
              * the caller had insufficient permissions to read the referenced thing.
              * the policy that should be copied does not exist.
              * the caller had insufficient permissions to read the policy that should be copied.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The created or modified entity is larger than the accepted
            limit of 100 kB.
      summary: Create a new thing
      tags:
      - Things
  /things/{thingId}:
    delete:
      description: |-
        Deletes the thing identified by the `thingId` path parameter.

        This will not delete the policy, which is used for controlling access to this thing.

        You can delete the policy afterwards via DELETE `/policies/{policyId}` if you don't need it for other things.
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The `If-Match` header, which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous GET response, e.g. `If-Match: "rev:4711"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Contains the "requested acknowledgements" for this modifying request as comma separated list. The HTTP call will
          block until all requested acknowledgements were aggregated or will time out based on the specified `timeout`
          parameter.

          The default (if omitted) requested acks is `requested-acks=twin-persisted` which will block the
          HTTP call until the change was persited to the twin.
        explode: true
        in: query
        name: requested-acks
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines whether a response is required to the API call or not - if set to `false` the response will directly
          sent back with a status code of `202` (Accepted).

          The default (if ommited) response is `true`.
        explode: true
        in: query
        name: response-required
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: The thing was successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:
              * the `thingId` does not conform to the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded transaction
            count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:
              * the API Token is missing or invalid
              * the caller had insufficient permissions.
                For deleting an existing thing, an unrestricted `WRITE` permission on the thing's root resource is required.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. The thing with the given ID was
            not found.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete a specific thing
      tags:
      - Things
    get:
      description: |-
        Returns the thing identified by the `thingId` path parameter. The
        response includes details about the thing, including the `policyId`, attributes, definition and features.

        Optionally, you can use the field selectors (see parameter `fields`) to only get specific
        fields, which you are interested in.

        Example: Use the field selector `_policy` to retrieve the content of the policy.
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Contains a comma-separated list of fields to be included in the returned
          JSON. attributes can be selected in the same manner.

          #### Selectable fields

          * `thingId`
          * `policyId`
          * `definition`
          * `attributes`

             Supports selecting arbitrary sub-fields by using a comma-separated list:
              * several attribute paths can be passed as a comma-separated list of JSON pointers (RFC-6901)

                For example:
                  * `?fields=attributes/model` would select only `model` attribute value (if present)
                  * `?fields=attributes/model,attributes/location` would select only `model` and
                     `location` attribute values (if present)

            Supports selecting arbitrary sub-fields of objects by wrapping sub-fields inside parentheses `( )`:
              * a comma-separated list of sub-fields (a sub-field is a JSON pointer (RFC-6901)
                separated with `/`) to select

              * sub-selectors can be used to request only specific sub-fields by placing expressions
                in parentheses `( )` after a selected subfield

                For example:
                 * `?fields=attributes(model,location)` would select only `model`
                    and `location` attribute values (if present)
                 * `?fields=attributes(coffeemaker/serialno)` would select the `serialno` value
                    inside the `coffeemaker` object
                 * `?fields=attributes/address/postal(city,street)` would select the `city` and
                    `street` values inside the `postal` object inside the `address` object

          * `features`

            Supports selecting arbitrary fields in features similar to `attributes` (see also features documentation for more details)

          * `_namespace`

            Specifically selects the namespace also contained in the `thingId`

          * `_revision`

            Specifically selects the revision of the thing. The revision is a counter, which is incremented on each modification of a thing.

          * `_modified`

            Specifically selects the modified timestamp of the thing in ISO-8601 UTC format. The timestamp is set on each modification of a thing.

          * `_policy`

            Specifically selects the content of the policy associated to the thing. (By default, only the policyId is returned.)

          #### Examples

          * `?fields=thingId,attributes,features`
          * `?fields=attributes(model,manufacturer),features`
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: |-
          The `If-Match` header, which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous GET response, e.g. `If-Match: "rev:4711"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thing'
          description: The request successfully returned the specific thing.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: |-
            The (sub-)resource has not been modified. This happens if you specified a If-None-Match header, which
             matches the current ETag of the (sub-)resource.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:

              * the `thingId` does not conform to the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id))
              * at least one of the defined query parameters is invalid
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded transaction
            count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed due to a missing or invalid API
            Token.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. The thing with the given ID was
            not found.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve a specific thing
      tags:
      - Things
    put:
      description: |-
        Create or update the thing specified by the `thingId` path parameter and
        the optional JSON body.

        * If you set a new `thingId` in the path, a thing will be created.
        * If you set an existing `thingId` in the path, the thing will be updated.


        ### Create a new thing
        At the initial creation of a thing, only a valid `thingId` is required.
        However, you can create a full-fledged thing all at once.

        Example:
        To create a coffee maker thing, set the `thingId` in the path, e.g. to "com.acme.coffeemaker:BE-42"
        and the body part, like in the following snippet.

        ```
         {
           "definition": "com.acme:coffeebrewer:0.1.0",
           "attributes": {
             "manufacturer": "ACME demo corp.",
             "location": "Berlin, main floor",
             "serialno": "42",
             "model": "Speaking coffee machine"
           },
           "features": {
             "coffee-brewer": {
               "definition": [ "com.acme:coffeebrewer:0.1.0" ],
               "properties": {
                 "brewed-coffees": 0
               }
             },
             "water-tank": {
               "properties": {
                 "configuration": {
                   "smartMode": true,
                   "brewingTemp": 87,
                   "tempToHold": 44,
                   "timeoutSeconds": 6000
                 },
                 "status": {
                   "waterAmount": 731,
                   "temperature": 44
                 }
               }
             }
           }
          }
         ```
        As the example does not set a policy in the request body, but the thing concept requires one,
        the service will create a default policy. The default policy, has the exactly same id
        as the thing, and grants ALL permissions to the authorized subject.

        In case you need to associate the new thing to an already existing policy you can additionally
        set a policy e.g. "policyId": "com.acme.coffeemaker:policy-1" as the first element in the body part.
        Keep in mind, that you can also change the assignment to another policy anytime,
        with a request on the sub-resource "PUT /things/{thingId}/policyId"

        ### Update an existing thing

        For updating an existing thing, the authorized subject needs **WRITE** permission on the thing's root resource.

        The ID of a thing cannot be changed after creation. Any `thingId`
        specified in the request body is therefore ignored.

        ### Partially update an existing thing

        When updating an existing thing, which already contains `attributes`, `definition` `policyId` or `features`,
        the existing fields must not explicitly be provided again.
        For this "PUT thing" request - and only for this top-level update on the thing -
        the top-level field to update is **merged** with the existing top-level fields of the thing.

        ### Example for a partial update

        Given, a thing already exists with this content:

        ```
        {
          "thingId": "namespace:thing-name",
          "policyId": "namespace:policy-name",
          "definition": "namespace:model:version",
          "attributes": {
            "foo": 1
          },
          "features": {...}
        }
        ```

        The thing's `attributes` may be modified without having to pass the `policyId` or
        the `features` in again.
        For updating the `attributes`, following request body would be sufficient :

        ```
        {
          "attributes": {
            "foo": 2,
            "bar": false
          }
        }
        ```

        The `policyId` and `features` of the thing will not be overwritten.
        The thing will be merged into:

        ```
        {
          "thingId": "namespace:thing-name",
          "policyId": "namespace:policy-name",
          "definition": "namespace:model:version",
          "attributes": {
            "foo": 2,
            "bar": false
          },
          "features": {...}
        }
        ```
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The `If-Match` header, which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous GET response, e.g. `If-Match: "rev:4711"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Contains the "requested acknowledgements" for this modifying request as comma separated list. The HTTP call will
          block until all requested acknowledgements were aggregated or will time out based on the specified `timeout`
          parameter.

          The default (if omitted) requested acks is `requested-acks=twin-persisted` which will block the
          HTTP call until the change was persited to the twin.
        explode: true
        in: query
        name: requested-acks
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines whether a response is required to the API call or not - if set to `false` the response will directly
          sent back with a status code of `202` (Accepted).

          The default (if ommited) response is `true`.
        explode: true
        in: query
        name: response-required
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            example:
              definition: com.acme:coffeebrewer:0.1.0
              attributes:
                manufacturer: ACME demo corp.
                location: Berlin, main floor
                serialno: "42"
                model: Speaking coffee machine
              features:
                coffee-brewer:
                  definition:
                  - com.acme:coffeebrewer:0.1.0
                  properties:
                    brewed-coffees: 0
                water-tank:
                  properties:
                    configuration:
                      smartMode: true
                      brewingTemp: 87
                      tempToHold: 44
                      timeoutSeconds: 6000
                    status:
                      waterAmount: 731
                      temperature: 44
            schema:
              $ref: '#/components/schemas/NewThing'
        description: JSON representation of the thing to be modified.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thing'
          description: The thing was successfully created.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
            Location:
              description: The location of the created thing resource
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: The thing was successfully modified.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:

              * the `thingId` does not conform to the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id))
              * the namespace is not registered for your solution
              * the JSON body of the thing to be created/modified is invalid
              * the JSON body of the thing to be created/modified contains a `thingId`
              which does not match the ID in the path
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded data volume
            or exceeded transaction count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:
              * the API Token is missing or invalid
              * the caller would not have access to the thing after creating it with the given policy
              * the caller has insufficient permissions.
                For modifying an existing thing, an unrestricted `WRITE` permission on the thing's root resource is required.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:
              * the referenced thing does not exist.
              * the caller has insufficient permissions to read the referenced thing.
              * the policy that should be copied does not exist.
              * the caller has insufficient permissions to read the policy that should be copied.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The created or modified entity is larger than the accepted
            limit of 100 kB.
      summary: Create or update a thing with a specified ID
      tags:
      - Things
  /things/{thingId}/definition:
    delete:
      description: Deletes the definition of the thing identified by the `thingId`.
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The `If-Match` header which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous HTTP response, e.g. `If-Match: "hash:a75ece4e"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Contains the "requested acknowledgements" for this modifying request as comma separated list. The HTTP call will
          block until all requested acknowledgements were aggregated or will time out based on the specified `timeout`
          parameter.

          The default (if omitted) requested acks is `requested-acks=twin-persisted` which will block the
          HTTP call until the change was persited to the twin.
        explode: true
        in: query
        name: requested-acks
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines whether a response is required to the API call or not - if set to `false` the response will directly
          sent back with a status code of `202` (Accepted).

          The default (if ommited) response is `true`.
        explode: true
        in: query
        name: response-required
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: The definition was successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. The `thingId` does not conform to the namespaced entity ID notation
            (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded data volume
            or exceeded transaction count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:

              * the API Token is missing or invalid
              * the caller has insufficient permissions.
                For modifying a definition of an existing thing, `WRITE` permission is required.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. The thing with the given ID or
            its definition was not found.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete the definition of a specific thing
      tags:
      - Things
    get:
      description: Returns the definition of the thing identified by the `thingId`
        path parameter.
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The `If-Match` header which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous HTTP response, e.g. `If-Match: "hash:a75ece4e"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Definition'
          description: The request successfully returned the definition of the specific
            thing.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: |-
            The (sub-)resource has not been modified. This happens if you specified a If-None-Match header, which
             matches the current ETag of the (sub-)resource.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:

            * the `thingId` does not conform to the namespaced entity ID notation
            (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded transaction
            count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:

              * the API Token is missing or invalid
              * the caller has insufficient permissions.
                For modifying the definition of an existing thing, `WRITE` permission is required.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. The thing with the given ID was
            not found.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve the definition of a specific thing
      tags:
      - Things
    put:
      description: |-
        * If the thing does not have a definition yet, this request will create it.
        * If the thing already has a definition you can assign it to a new one by setting the new definition in the request body.
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The `If-Match` header which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous HTTP response, e.g. `If-Match: "hash:a75ece4e"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Contains the "requested acknowledgements" for this modifying request as comma separated list. The HTTP call will
          block until all requested acknowledgements were aggregated or will time out based on the specified `timeout`
          parameter.

          The default (if omitted) requested acks is `requested-acks=twin-persisted` which will block the
          HTTP call until the change was persited to the twin.
        explode: true
        in: query
        name: requested-acks
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines whether a response is required to the API call or not - if set to `false` the response will directly
          sent back with a status code of `202` (Accepted).

          The default (if ommited) response is `true`.
        explode: true
        in: query
        name: response-required
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        $ref: '#/components/requestBodies/Definition'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Definition'
          description: The definition was successfully created.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
            Location:
              description: The location of the created definition resource
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: The definition was successfully updated.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:

              * the `thingId` does not conform to the namespaced entity ID notation
                (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id))
              * the JSON was invalid
              * the request body was not a JSON object.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded data volume
            or exceeded transaction count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:

              * the API Token is missing or invalid
              * the caller has insufficient permissions.
                For modifying a definition of an existing thing, `WRITE` permission is required.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. The thing with the given ID was
            not found.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The created or modified entity is larger than the accepted
            limit of 100 kB.
      summary: Create or update the definition of a specific thing
      tags:
      - Things
  /things/{thingId}/policyId:
    get:
      description: Returns the policy ID of the thing identified by the `thingId`
        path parameter.
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The `If-Match` header which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous HTTP response, e.g. `If-Match: "hash:a75ece4e"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: The request successfully returned the policy ID.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: |-
            The (sub-)resource has not been modified. This happens if you specified a If-None-Match header, which
             matches the current ETag of the (sub-)resource.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:
              * the `thingId` does not conform to the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded transaction
            count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to a missing or invalid
            API Token.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed. The thing with the given
            ID was not found in the context of the authenticated user.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve the policy ID of a thing
      tags:
      - Things
    put:
      description: |-
        Create or update the policy ID of the thing identified by the `thingId`
        path parameter.

        ### Create
        If the thing does not have a `policyId` yet, it is
        considered to have been created via API version 1, where the access control list `acl`
        mechanism is used. In that case, this request will create the `policyId`.

        Note: You will need to create the policy content separately.

        ### Update
        If the thing already has a `policyId` you can assign it to an existing policy by setting
        the new `policyId` in the request body.
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The `If-Match` header which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous HTTP response, e.g. `If-Match: "hash:a75ece4e"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Contains the "requested acknowledgements" for this modifying request as comma separated list. The HTTP call will
          block until all requested acknowledgements were aggregated or will time out based on the specified `timeout`
          parameter.

          The default (if omitted) requested acks is `requested-acks=twin-persisted` which will block the
          HTTP call until the change was persited to the twin.
        explode: true
        in: query
        name: requested-acks
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines whether a response is required to the API call or not - if set to `false` the response will directly
          sent back with a status code of `202` (Accepted).

          The default (if ommited) response is `true`.
        explode: true
        in: query
        name: response-required
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              example: '"your.namespace:your-policy-name"'
              type: string
        description: |-
          The policy is used for controlling access to this thing. It is managed by
          resource `/policies/{policyId}`.

          The ID of a policy needs to conform to the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                type: string
          description: 'The policy ID was successfully created. Note: You will need
            to create the policy content separately.'
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: The policy ID was successfully updated.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:

              * the `thingId` does not conform to the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id))
              * the namespace is not registered for your solution
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded data volume
            or exceeded transaction count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to a missing or invalid
            API Token.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. The thing with the given ID was
            not found in the context of the authenticated user.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The created or modified entity is larger than the accepted
            limit of 100 kB.
      summary: Create or update the policy ID of a thing
      tags:
      - Things
  /things/{thingId}/attributes:
    delete:
      description: |-
        Deletes all attributes of the thing identified by the `thingId` path
        parameter.
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The `If-Match` header which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous HTTP response, e.g. `If-Match: "hash:a75ece4e"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Contains the "requested acknowledgements" for this modifying request as comma separated list. The HTTP call will
          block until all requested acknowledgements were aggregated or will time out based on the specified `timeout`
          parameter.

          The default (if omitted) requested acks is `requested-acks=twin-persisted` which will block the
          HTTP call until the change was persited to the twin.
        explode: true
        in: query
        name: requested-acks
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines whether a response is required to the API call or not - if set to `false` the response will directly
          sent back with a status code of `202` (Accepted).

          The default (if ommited) response is `true`.
        explode: true
        in: query
        name: response-required
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: The attributes were successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:
              * the `thingId` does not conform to the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded transaction
            count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:
              * the API Token is missing or invalid
              * the caller has insufficient permissions.
                For deleting all attributes of an existing thing, `WRITE` permission is required.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. The thing with the given ID or
            its attributes were not found.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete all attributes of a specific thing at once
      tags:
      - Things
    get:
      description: Returns all attributes of the thing identified by the `thingId`
        path parameter.
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Contains a comma-separated list of fields from the attributes to be
          included in the returned JSON.

          #### Selectable fields

          Supports selecting arbitrary sub-fields as defined in the attributes by
          using a comma-separated list:
            * several properties paths can be passed as a comma-separated list of JSON pointers (RFC-6901)

              For example:
                * `?fields=model` would select only `model` attribute value (if present)
                * `?fields=model,make` would select `model` and `make` attribute values (if present)

          Supports selecting arbitrary sub-fields of objects by wrapping sub-fields
          inside parentheses `( )`:
            * a comma-separated list of sub-fields (a sub-field is a JSON pointer (RFC-6901) separated with `/`) to select
            * sub-selectors can be used to request only specific sub-fields by placing expressions in parentheses `( )` after a selected subfield

              For example:
               * `?fields=location(longitude,latitude)` would select the `longitude` and `latitude` value inside the `location` attribute

          #### Examples

          * `?fields=model,make,location(longitude,latitude)`

          * `?fields=listOfAddresses/postal(city,street))`
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: |-
          The `If-Match` header which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous HTTP response, e.g. `If-Match: "hash:a75ece4e"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attributes'
          description: The attributes of the specific thing were successfully retrieved.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: |-
            The (sub-)resource has not been modified. This happens if you specified a If-None-Match header, which
             matches the current ETag of the (sub-)resource.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:

            * the `thingId` does not conform to the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id))
              * the namespace is not registered for your solution
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded transaction
            count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to a missing or invalid
            API Token.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed. The thing with the given
            ID was not found.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
      summary: List all attributes of a specific thing
      tags:
      - Things
    put:
      description: |-
        Create or update the attributes of a thing identified by the `thingId`
        path parameter. The attributes will be overwritten - all at once - with the
        content (JSON) set in the request body.
      parameters:
      - description: |-
          The ID of a thing needs to follow the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).

          The namespace needs to be registered for your solution
        explode: false
        in: path
        name: thingId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The `If-Match` header which has to conform to RFC-7232 (Conditional Requests). Common usages are:
            * optimistic locking by specifying the `ETag` from a previous HTTP response, e.g. `If-Match: "hash:a75ece4e"`
            * retrieving or modifying a resource only if it already exists, e.g. `If-Match: *`
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      - description: 'The `If-None-Match` header, which has to conform to RFC-7232
          (Conditional Requests). A common usage scenario is to modify a resource
          only if it does not yet exist, thus to create it, by specifying `If-None-Match:
          *`.'
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: |-
          Contains the "requested acknowledgements" for this modifying request as comma separated list. The HTTP call will
          block until all requested acknowledgements were aggregated or will time out based on the specified `timeout`
          parameter.

          The default (if omitted) requested acks is `requested-acks=twin-persisted` which will block the
          HTTP call until the change was persited to the twin.
        explode: true
        in: query
        name: requested-acks
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines how long the backend should wait for completion of the request, e.g. applied when waiting for requested
          acknowledgements via the `requested-acks` param. Can be specified without unit (then seconds are assumed) or
          together with `s`, `ms` or `m` unit. Example: `42s`, `1m`.

          The default (if omitted) timeout is `10s`. Maximum value: `60s`.

          A value of `0` applies fire and forget semantics for the command resulting in setting `response-required=false`.
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Defines whether a response is required to the API call or not - if set to `false` the response will directly
          sent back with a status code of `202` (Accepted).

          The default (if ommited) response is `true`.
        explode: true
        in: query
        name: response-required
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        $ref: '#/components/requestBodies/Attributes'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attributes'
          description: The attributes were successfully created.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
            Location:
              description: The location of the created attribute resource
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: The attributes were successfully updated.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:
              * the `thingId` does not conform to the namespaced entity ID notation (see [Ditto documentation on namespaced entity IDs](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id)).
              * the JSON body of the attributes to be created/modified is invalid
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to missing authentication.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The request could not be completed due to exceeded data volume
            or exceeded transaction count.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. Possible reasons:
              * the API Token is missing or invalid
              * the caller has insufficient permissions.
                For modifying the attributes of an existing thing, `WRITE` permission is required.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            The request could not be completed. The thing with the given ID was
            not found.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: |-
            A precondition for reading or writing the (sub-)resource failed. This will happen for write requests, if you
            specified an If-Match or If-None-Match header, which fails the precondition check against the current ETag of
            the (sub-)resource. For read requests, this error may only happen for a failing If-Match header. In case of a
            failing If-None-Match header for a read request, status 304 will be returned instead.
          headers:
            ETag:
              description: |-
                The (current server-side) ETag for this (sub-)resource. For top-level resources it is in the format
                "rev:[revision]", for sub-resources it has the format "hash:[calculated-hash]".
              explode: false
              schema:
                type: string
              style: simple
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedError'
          description: The created or modified entity is larger than the accepted
            limit of 100 kB.
      summary: Create or update all attributes of a specific thing at once
      tags:
      - Things
  /things/{thingId}/attributes/{attributePath}:
    delete:
      description: |-
[...]
